﻿<p>
    In conjunction with Transcom's prevailing Code of Discipline, the following guidelines
    are to be observed at all times by users who are participating in the forums:
</p>
<p>
    - Threads should be relevant to the sub-forum where they are posted. Threads that
    are not relevant to that sub-forum will be moved by the (role), or deleted. No exceptions
    shall be made.
</p>
<p>
    - Transcom University's Forums feature shall only be used for Transcom University
    discussions about and should be limited to the courses/classes only.
</p>
<p>
    - Posts that are in all caps, extra-large fonts, contain an excessive number of
    repeated symbols (such as exclamation marks, question marks), disruptive to the
    forum or the thread, or contain an excessive number of censored words will be deleted.
    Bypassing the forum swear filter by adding symbols or numbers, or through other
    methods, is also not allowed; it is better to allow a word to get censored by the
    swear filter.
</p>
<p>
    - Advertising, spamming, and trolling is not allowed. This includes using forum
    posts, email, and private messages to spam other members. Posting external links
    to sites not affiliated with Transcom/Transcom University and the course/class is
    not allowed. Links to personal sites are not allowed as well.
</p>
<p>
    - This is an English-speaking forum, and while we value the diversity of our users,
    since the Moderation Team are only expected to understand written English, we unfortunately
    can't moderate posts made in any other language. Posts that do so (beyond a couple
    of words or a short phrase, within reason, and at the Moderation Team's discretion)
    will be locked or removed.
</p>
<p>
    - Personal photos should not be posted in the forum, whether yours or someone else's.
</p>
<p>
    - Posts relating to other courses not currently offered, as a form of suggestion
    is allowed.
</p>
<p>
    - Any form of callouts, insults, trolling, or incitement is not allowed and will
    be actioned.
</p>
<p>
    - Personal information should not be posted on the forums, whether it is yours or
    somebody else's.
</p>
<p>
    - Transcom University Administrators and Forum Moderators reserve the right to remove
    and report posts that violates any of the above mentioned guidelines.
</p>
<p>
    Any violation to the above-mentioned guidelines shall merit a corresponding disciplinary
    action in accordance to Transcom's Code of Discipline.
</p>
<p>
    To proceed, please check "tick" the checkbox below to show that you have read and
    agreed to the stated Forum Usage Guide:
</p>
