﻿
.progressBarContainer div 
{
    /*background-color: #292929;*/
    /*border: 1px solid black;
    width: auto;*/
    -webkit-border-radius: 20px 20px 20px 20px !important;
    -moz-border-radius: 20px 20px 20px 20px !important;
    border-radius: 20px 20px 20px 20px !important;
    /*width: 100px !important;*/
}

.progressBarContainer
{
    /*height: 18px;*/
    /*width: auto;*/
    /*-webkit-border-radius: 20px 20px 20px 20px !important;
    -moz-border-radius: 20px 20px 20px 20px !important;
    border-radius: 20px 20px 20px 20px !important;*/
}

#progressBar
{
    /*width: auto !important;*/
    height: 100%;
    overflow: hidden;
    background-color: #292929;
    /*border: 1px solid black;*/
}

#progressBar div
{
    /*height: 100%;*/
    /*line-height: 22px;*/
    /*width: 100% !important;*/
    overflow: hidden;
    /*text-align: center;*/
}

.red
{
    background-color: firebrick;
}

.yellow
{
    background-color: gold;
}

.green
{
    background-color: seagreen;
    width: 100% !important;
}

#progressBar span
{
    /*float: left;
    line-height: 20px;*/
    position: absolute;
    color: #fff;
    padding-left: 12px;
    font-size: 9px;
}

.progressBar
{
    /*padding: 0 !important;*/
    overflow: hidder;
}
