﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WidgetsInit.ascx.cs" Inherits="WidgetsInit" %>

<p><asp:Label runat="server" ID="selectconf" Text= "<%$ Resources:LocalizedResource, SelectAndConfigureWidgets %>"></asp:Label></p>