﻿/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
/*VARIABLES*/
    
/*HEADER/NAVBAR*/
    
/*FOOTER*/
    
/*MASTER*/
    
/*FONT/BACKGROUND/TEXT*/
    
/*MARGIN/PADDING/BORDER*/
    
/*ELEMENTS*/


/*END HOMEPAGE LOGGED OUT STATE*/

/*START HOMEPAGE LOGGED IN STATE*/
.course-container
{
    height:auto !important;
}

/*END HOMEPAGE LOGGED IN STATE*/


/*START MASTER PAGE*/
    .profile-mobile 
    {
        display: block !important;}    
       
       /*
       .navbar-header
       {width: 100% !important;}   */
       
       .mobile-main-form
       {
           overflow: hidden;}

      /*  

   #logo-Wrappper
   {
       position:absolute;
}      
    
    .margin-top-30
    {
        margin-top: 30%;
        }

.navbar
     {
         background-color: #ff5046;
         margin-bottom: 5px;}

    
        
          #notif-profile-holder
   {
       display: none !important;}*/ 

/*END MASTER PAGE*/

/*COURSE CATALOG*/

   ul.mobile-ready
    {
        margin-left: 30px;
        width: 85% !important;}

    #course-catalog-switch
    {
        text-align: right;
        width: 90% !important}
        
   .side-menu-container a:link, .side-menu-container a:visited
   {
       color: #000;}
       
       .side-menu-container
       {
           background-color: transparent;}
           
     .course-grid
     {
         width:1200px;}
     
     #recommendedLeadershipCoursesGridView , #mandatoryGridView, #trendingGridView, #recentGridView, #recommendedGridView, #musttakeGridView, #ec-containerGridView, #LearningPlanGridView, #SkillDevelopmentGridView
     {
         width: 100%;
         overflow-y: scroll;}
     
     .mtPager, .rlcPager,.mcPager, .tcPager, .rcPager, .rmPager
     {
         width: 50% !important;}
         
     .widgets
     {
         width: 100% !important;}
         
     .mobile-widgets
     {
         width: 95%;}
         
     .mobile-ready li
     {display: none;
         }    
         
     .mobile-ready li:last-child
     {
         display: block;}         
  

/*END COURSE CATALOG*/

/*LEARNER CALENDAR*/
.rsHorizontalHeaderTable th
{
 heigth: 25px;   }

/*END Smartphones (portrait and landscape)*/
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}


/* ----LANDSCAPE */
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}


/* ----PORTRAIT */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}
