/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
/*VARIABLES*/
    
/*HEADER/NAVBAR*/
.breadcrumb
{
    overflow:hidden;
    width:100%;
}
.breadcrumb li
{
    font-size:12px;
    display:none ;
}
.breadcrumb li:nth-last-child(2)
{
    display:block;
}
.breadcrumb
{
    display:inline-flex;
    padding-left: 30px !important;
}
.sidebar-relative .hamburger-container
{
    margin-top:5px !important;
}
/*FOOTER*/
footer
{
    margin:0 !important;
}
footer ul
{
    display:flow-root !important;
}
.navbar-header
{
    height:40px;
    background:#ff5046;
}
.navbar-header .navbar-toggle
{
    padding: 0 5px;
}
/*MASTER*/
.m-display-none
{
    display:none;
    }
/*FONT/BACKGROUND/TEXT*/
    
/*MARGIN/PADDING/BORDER*/
    
/*ELEMENTS*/
/*START WELCOME PAGE*/
#splashPage .banner.medium
{
    margin-top: 30%;
    height: 30%;
    width: 55%;
}
#splashPage .region.search .area input.txtbox {
    width: 90vw;
    font-size: 18px;
    font-family: 'Roboto';
    height: 30px;
    padding-left: 30px;
}
#splashPage .region.search .area .btn {
    height: 25px;
    font-size: 18px;
    font-weight: normal;
    padding: 0px 29px;
    font-family: 'Roboto';
    width: 20%;

}
#splashPage .region.search .area label {
    font-size: 14px;
}
#splashPage .region.search .area .icon {
    width: 2.1%;
    left: 27px;
}
/*END WELCOME PAGE*/
/*START HOMEPAGE LOGGED OUT STATE*/
.m-signin
{
    position: relative !important ;
    right: 0;
    top: 0 !important;
}
.m-logo
{
    width: 95% !important;
    margin-top: 1%;
    top: 0;
}
.m-login-navbar
{
    margin:0 !important;
}
.m-search
{
    position: relative !important;
    padding: 0 5%;
}

.search-input div.input-group input
{
    width:100% !important;
}

.m-login-footer ul
{
    display: block;
    margin: 0;
    columns: 2;
    -webkit-columns: 4;
    -moz-columns: 2;
    padding-top: 3%;
}

.m-login-footer ul li
{
    line-height: 25px;
}

.m-login-footer ul li a
{
    margin:0;
    color: #fff;
}

.m-login-footer .footer h6
{
    font-size:11px !important;
    margin:0;
}

.m-login-footer .footer h5
{
    width:100%;
}

/****SLIDER*/
#wrapper-carousel
{
    height:auto;
}
.tc-slick-carousel.image-slider .slick-slide img 
{
    width: 100vh;
    height: 40vh;
    object-fit: fill;  
    object-position: center;
    position: relative;
    
}

.tc-slick-carousel.image-slider .slick-slide .carousel-caption
{
    position:relative;
    padding: 0 4%;
    text-align: justify;
}
.tc-slick-carousel .slick-dots
{
    position: absolute;
    bottom: 22vh;
    left: 50%;
    transform: translateX(-50%);
}
.tc-slick-carousel .slick-dots li button::before 
{
    border-color:#fff;
}
/******FEATURED COURSES*/

#wrapper_featured .details div 
{
    height:auto;
}
#wrapper_featured .details .btn {
    position: relative;
    bottom: 0;
    float: right;
    margin-bottom: 14%;
}

/*****COURSE CATALOG*/
.tc-slick-carousel.course-slider .course
{
    margin: 0 !important;
}

/*****NEWS*/
#wrapper-news .details img 
{
    width:100%;
    height: 40vh;
}
#wrapper-news .details {
    margin-bottom: 10%;
}
#wrapper-news .inner-image
{
    padding:0;
}

/*****SIGNIN*/
.wrapper_signin:after 
{
    height:30vh;

}

.wrapper_signin 
{
    height:30vh;
     margin-left:-15px;
     margin-right:-15px;
}

.wrapper_signin > div
{
    top:30%;
}
.wrapper_signin .inner-message 
{
    font-size:30px !important;
}

.wrapper_signin .btn
{
    width:100%
}
.m-category-header
{
    width:100% !important;
    padding-left:5px; 
    padding-right:5px;
}
.th
{
    z-index:100;
    position:relative;
}
/*END HOMEPAGE LOGGED OUT STATE*/

/*START HOMEPAGE LOGGED IN STATE*/
.m-logo-master
{
    margin-bottom:5px;
}
.course-container
{
    height:auto !important;
}
.course-container .m-course-container
{
    margin:3px 0 !important;
    padding:0 5px !important;
}
.course-container .m-course-details
{
   padding-left:5px;
}
.m-category-container
{
    padding:0;
}
.m-category-container .m-lnk-seeall
{
    position:absolute;
    right:10px;
    margin-top:0 !important;
}
.m-category-container .m-title
{
    font-size:14px;
}

.m-category-container .truncate-line-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size:12px;
}


.m-category-container .m-image-container img
{
   height:120px !important;
}

.m-category-container .m-course-title
{
    white-space: normal;
    width: auto;
    left:5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:14px;
}

.m-category-container .border-bottom-black
{
    display:none;
}

.m-category-container .m-course-desc
{
    width:auto !important;
    padding: 0;
    margin-left: 5px;
}

.m-mandatory-course-nav ul
{
    width: 275px !important;
    overflow-x: scroll;
    display: flex;
    overflow-y: hidden;
    transition: all 2s ease-in-out;
}
.m-mandatory-course-nav ul li a
{
    white-space:nowrap;
}

.m-mandatory-course-nav .m-arrow-left, .m-mandatory-course-nav .m-arrow-right
{
   display:block !important;
}
.m-container-latest-happenings
{
    margin-left:-15px;
    margin-right:-15px;
}
/*END HOMEPAGE LOGGED IN STATE*/

/*START COURSE LAUNCHER*/
.course-preview-row-container
{
    margin:0;
}

.course-preview-row-container .course-prev-cover-photo
{
    min-height:300px;    
}

.course-preview-title h1
{
    font-size: 30px;
    padding: 10px;
    padding-top:15%
}

.course-preview-row-container .course-preview-description
{
    margin-top:40px !important;
}
.m-rating-container span h2
{
    margin:0;
}
.m-rating-container span h2
{
    font-size:30px;

}
.m-rating-container span, .m-star-container span, .m-user-container span
{
    float:none !important;
    text-align:center;
}

.m-star-container span .RadRating 
{
    width:auto !important;
}


.m-user-container
{
    
}

.m-window-review
{
    height:280px !important;
    width:320px !important;
}

.m-launcher-nav
{
    padding:0 !important;
}

.m-launcher-back
{
    padding:0 !important;
}

.m-progress .m-overalltext
{
    display:none !important;
}

div#learnerTab div
{
    padding: 0;
    margin:0 !important;
}
div#learnerTab div, div#additionalTab div, div#trainerTab div
{
    padding: 0;
    margin:0 !important;
}
.m-item-icon-title
{
    width:20px;
}
.m-item-scotitle
{
    overflow:hidden;
}
.m-item-score-details
{
    display:none;
}
.m-preview-description
{
    display:none;
}
.m-course-launcher-item .m-item
{
    overflow:hidden;
    display:flex;
    padding: 2% 5% !important;
}
/*END COURSE LAUNCHER*/

/*START SEARCH RESULT*/
.m-search-result #divSearchResult
{
    padding:0;
    }
.m-search-result .m-image-container img
{
    width:100% !important;
    height:120px !important;
    }
.m-search-result .m-course-details
{
    
    }
.m-course-launcher-sco tbody tr.rgRow
{
    display: inline-flex;
    }
.m-course-launcher-sco tbody tr.rgRow .m-lbl-status
{
    font-size:13px;
    marin-right: -15vw;
}

.m-course-launcher-sco tbody tr.rgRow #btnLaunch
{
    width:164px;
    overflow:hidden;
    text-overflow: elipsis;
    }

/* START MY PROFILE*/

/* END MYPROFILE */
.m-profile-nav-container ul
{
    display: inline-flex;
    white-space: nowrap;
    overflow: scroll;
    width: 80vw;
}
.panelRadStrip
{
    display:flex;
    width:80vw;
}

.panelRadStrip .m-arrow-right, .panelRadStrip .m-arrow-left
{
    display:block !important;
    font-size:30px;
    font-weight:bold;
}
.m-my-profile .border-top-light-teal:before, .m-my-profile .border-top-light-teal-md:before
{
    content:none !important;
}

/*END SEARCH RESULT*/
/*END Smartphones (portrait and landscape)*/
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}


/* ----LANDSCAPE */
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}


/* ----PORTRAIT */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}